//BACKGROUND
$bg-dark: #373737;
$bg-lighter: #3d3d3d;
$bg-green: #097e89;

// BTNS
$btn-grey: #959595;
$btn-blue: #0072bc;

// SECTIONS TEXT COLOR
$services-clr: #f7f7f7;
$feedback-clr: #cdc8c8;

//TEXT
$text-grey: #666666;
$text-light: #f9f9f9;


